@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');

/*** Universal styles that effect whole website ***/

body, html {
  /* Website font and colors */
  background-color: #FAFAF2;
  font-family: 'Cinzel', serif;
  color: #0F0901;
  /* Code to keep footer fixed at bottom */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  height: 100%;
}

  /* Code to keep footer fixed at bottom */
main {
  flex: 1 0 auto;
}