/*-------------------------------------------------*/
/*** UNIVERSAL STYLES THAT EFFECT WHOLE WEBSITE ***/
/*-------------------------------------------------*/

/* Cinzel & Calligraffitti fonts used */
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');

body, html {
  background-color: #FAFAF2;
  font-family: 'Cinzel', serif;
  color: #0F0901;
  /* Code to keep footer fixed at bottom */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  height: 100%;
}

/* Code to keep footer fixed at bottom */
main {
  flex: 1 0 auto;
}

/* Joins logo image and navbar seamlessly */
.container-fluid {
    line-height: 0;
}

h1 {
    font-family: 'Calligraffitti', cursive;
    text-transform: capitalize;
    font-size: 3rem;
}

h2 {
    font-family: 'Calligraffitti', cursive;
    font-size: 2.2rem;
}

p {
    text-align: justify;
}

.mt-3 {
    margin-top: 3rem;
}

.mr-1 {
    margin-right: 1rem!important;
}

.mr-1pt5 {
    margin-right: 1.5rem!important;
}

.mb-5 {
    margin-bottom: 5rem;
}

.lh-0 {
    line-height: 0;
}

.lh-1 {
    line-height: 1.5rem;
}

/* Allows valign-wrapper to work with Materialize grid columns */
.valign-wrapper{
    flex-wrap: wrap;
}

/* Font Awesome icons changed to green color */
.icon-color {
    color: #92D68C;
}

/* CARD STYLES */

/* Background color of cards - eg. recipe cards */
.card-content {
  background-image: linear-gradient(to top, rgba(250,250,242,1), rgba(160, 219, 155, 1));
  font-size: 1rem;
}

/* Background color of register, login and add recipe forms */
.form-card{
    background-image: linear-gradient(to bottom, rgba(250,250,242,1), rgba(250,250,242,1), rgba(160, 219, 155, 1));
}

/* Background color of flash messages */
.flash-card {
    background-image: linear-gradient(to bottom, rgba(250,250,242,1), rgba(160, 219, 155, 1));
}

/** BUTTON STYLES **/

.btn-text {
    color: #0F0901;
}

.btn-large {
    background-color:#92D68C;
}

.btn-large i {
    color:#0F0901;
}

.btn-large:hover {
    background-color:#AEE6A9;
}

.link-btn {
    background-image: linear-gradient(to bottom, rgba(250,250,242,1), rgba(146, 214, 140, 1));
    color: #0F0901;
    width: 11rem;
    margin-bottom: 20px;
}

.link-btn:hover {
    background-image: linear-gradient(to top, rgba(250,250,242,1), rgba(146, 214, 140, 1));
}

/** MODAL STYLES **/

/* Modal background color */
.modal-content {
  background-image: linear-gradient(to bottom, rgba(250,250,242,1), rgba(146, 214, 140, 1));
  color: #0F0901;
}

/* Modal footer background color */
.modal .modal-footer {
  background-color: #92D68C;
  color: #0F0901;
}

/* Modal close button background color */
.modal .modal-close {
  background-image: linear-gradient(to bottom, rgba(250,250,242,1), rgba(160, 219, 155, 1), rgba(146, 214, 140, 1));
}

/* Modal close button hover background color */
.modal .modal-close:hover {
  background-image: linear-gradient(to top, rgba(250,250,242,1), rgba(160, 219, 155, 1), rgba(146, 214, 140, 1));
}

/** TO TOP BUTTON STYLES **/

.to-top{
    z-index: 100;
	position: fixed;
	bottom: 2.5rem;
	right: 2.5rem;
    display: none;
}

/*----------------------------*/
/*** NAVIGATION BAR STYLES ***/
/*---------------------------*/

/** DESKTOP NAV BAR **/

/* Removes shadow from bottom of navbar */
.nav-extended {
    box-shadow: none;
}

/* Background color of navbar set as gradient */
.nav-wrapper {
    background-image: linear-gradient(to top, rgba(250,250,242,1), rgba(160, 219, 155, 1), rgba(146, 214, 140, 1));
}

/* Centers nav tabs */
#nav-tabs {
    display: flex;
    justify-content: center;
}

/* Changes nav tab font color and pushes tabs further apart */
nav ul a {
    color: #0F0901;
    padding: 0 4rem;
}

.hvr-hang:hover, .hvr-hang:focus, .hvr-hang:active {
    text-shadow: 0.125rem 0.125rem 0.125rem rgba(15, 9, 1, 0.5);
    background-color: rgba(0, 0, 0, 0.0);
    color: #0F0901;
}

/* Removed white lines between list items for seamlessness */
.dropdown-content li {
    min-height: 0;
}

/* Set colors of dropdown menu  */
.dropdown-content li a {
    background-color: #A0DB9B;
    color: #0F0901;
}

/* Color change of dropdown menu items when hover */
.dropdown-content li a:hover {
    background-color: #AEE6A9;
}

/** MOBILE NAV BAR **/

/* Mobile side nav color changed to green */
.side-nav {
    background-color: #92D68C;
}

/* Hamburger menu icon color change and shadow */
.button-collapse i {
    color: #0F0901;
    text-shadow: 0.125rem 0.125rem 0.125rem rgba(15, 9, 1, 0.5);
}

/* Logo image sizing and positioning */
.chef-hat {
    width: 6rem;
    margin-top: 2rem;
}

/*------------------------------------*/
/*** REGISTER & LOGIN PAGE STYLES ***/
/*----------------------------------*/

/* Font Awesome icons retain their green color when active */
.input-field .prefix.active {
    color: #92D68C
}

/*-------------------------*/
/*** ABOUT PAGE STYLES ***/
/*------------------------*/

/* Information card tabs */
.tabs .tab a {
    color:#0F0901;
    font-size: 0.8rem;
}

/* Ribbon image size & positioning */
.ribbon {
    width: 40%;
    display: block;
    margin: auto;
}

/* Tuna & Organic image size & positioning */
.tuna, .organic {
    width: 70%;
    display: block;
    margin: auto;
}

/** SUCCESS STORIES **/

/* Size & positioning */
.success-img {
    border-radius: 50%;
    width: 75%;
    display: block;
    margin: auto;
    cursor: pointer;
}

/* Background color of success' tooltip */
.backdrop {
    background-image: linear-gradient(to bottom, rgba(250,250,242,1), rgba(160, 219, 155, 1), rgba(146, 214, 140, 1));
}

/* Tooltip font color and positioning */
.material-tooltip {
    color: #0F0901;
    margin-left: 0.25rem;
}


/*--------------------------------------*/
/*** ADD & EDIT RECIPES PAGE STYLES ***/
/*------------------------------------*/

/* Background color of form dropdown list */
.select-dropdown {
    background-color: #A0DB9B;
}

/* Font color of form dropdown list */
ul.dropdown-content.select-dropdown li span {
    color: #0F0901; 
}

/* Background hover color of form dropdown list*/
ul.dropdown-content.select-dropdown li span:hover {
    background-color: #AEE6A9; 
}

.input-field label {
    color: #0F0901;
    font-size: 0.85rem!important;
}

textarea.materialize-textarea {
    padding: 0;
}

/* Added to make text visible within textarea  */
textarea {
    line-height: 1rem;
}

.edit-btn {
    width: 14rem;
}

/*----------------------------------------*/
/*** CATEGORY & MYRECIPES PAGE STYLES ***/
/*--------------------------------------*/

.card-btn {
    background-image: linear-gradient(to bottom, rgba(250,250,242,1), rgba(146, 214, 140, 1));
    color: #0F0901;
    width: 5.5rem;
    padding: 0;
}

.card-btn:hover {
  background-image: linear-gradient(to top, rgba(250,250,242,1), rgba(146, 214, 140, 1));
}

/* Color & allows card button to sit in correct place */
.card-action {
  background-image: linear-gradient(to top, rgba(250,250,242,1),rgba(250,250,242,1));
  display: flow-root;
}

/* Removes line between the top and bottom of the card */
.card .card-action {
  border-top: none;
}

.card .card-content {
    max-height: 7.3rem;
}

/* Bold recipe titles */
.card-title {
  text-shadow: 0.047rem 0.047rem #0F0901;
}

/* All uploaded images will be same size */
.card img {
    min-height: 26rem;
    max-height: 26rem;
}

/*--------------------------*/
/*** RECIPE PAGE STYLES ***/
/*-------------------------*/

.user-img {
    border-radius: 0.5rem;
    width: 50rem;
}

/* List item text positioning */
.d-flex {
    display: flex;
}

/* Collapsible header styles */
.collapsible-header {
    font-size: 0.85rem;
    background-image: linear-gradient(to bottom, rgba(250,250,242,1), rgba(174, 230, 169, 1));
    border-bottom: none;
}
/* Collapsible body styles */
.collapsible-body {
  font-size: 0.85rem;
  background-color: #AEE6A9;
}

/*--------------------*/
/*** FOOTER STYLES ***/
/*-------------------*/

.page-footer {
    background-image: linear-gradient(to bottom, rgba(250,250,242,1), rgba(160, 219, 155, 1), rgba(146, 214, 140, 1));
}

.footer-text {
    color: #0F0901;
}

/*---------------------*/
/*** MEDIA QUERIES ***/
/*--------------------*/

/** UNIVERSAL STYLES **/

/* Reduce logo image size on larger screens */
@media (min-width: 1200px) {
header div img {
  width: 75%;
}
.title-bg {
    background-color: #92D68C;
}
}

@media (min-width: 600px) {
.flow-text{
    font-size: 1.3rem!important;
}
}

/** NAV BAR STYLES **/

/* Font size for larger devices */
@media (min-width: 1200px) {
    .nav-text{
        font-size: 1.5rem
    }
}

/* Font size for smaller devices */
@media (max-width: 1024px) {
    .nav-text{
        font-size: 1rem
    }
}

/** ABOUT STYLES **/

@media (min-width: 1200px) {
  /* Adds margin to stop card content leaking into card tabs */
  .mb-1 {
    margin-bottom: 1rem;
  }
}

@media (max-width: 1024px) {
/* Disabled tooltip whilst in mobile & tablet view */
  .material-tooltip {
    display: none;
  }
}

@media (min-width: 992px) {
/* Carousel size increase */
.carousel {
    height: 25rem;
}

/* Carousel positioning */
.carousel .carousel-item>img {
    width: 200% !important;
    margin-left: -50%;
    margin-top: -3rem;
    }
}

@media (max-width: 992px) {
/* Smaller margin for carousel */
.mt-min-10 {
    margin-top: -10rem;
    }
.mb-min-5 {
    margin-bottom: -5rem;
}
}


@media (min-width: 600px) {
/* Adds margin to success images when above 600px */
  .success-img {
    margin-bottom: 5rem;
  }
/* Adds margin to stop info card from touching header */
  .mt-6 {
    margin-top: 6rem;
  }
}

@media (max-width: 600px) {
/* Adds margin to two top images in mobile view */
  #success-stories > div:nth-child(1), div:nth-child(3) {
    margin-bottom: 2rem;
  }
}

/** CATEGORY STYLES **/

@media (max-width: 600px) {
/* Card button positioning for mobile view */
.btn-pos {
    margin: 1rem 0 0 2rem;
    }

.mb-0 {
    margin-bottom: 0!important;
}
/* Card image height set for mobile view */
.card img {
    min-height: 16rem;
}

/* Index info card content max height */
.card .card-content{
    max-height: none;
}
}

@media (min-width: 600px) {
/* Display Card buttons in middle of div */
.d-flex-w {
    display: flex;
    width: 100%;
    }
}