@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');

/*** UNIVERSAL STYLES THAT EFFECT WHOLE WEBSITE ***/

body, html {
  /* Website font and colors */
  background-color: #FAFAF2;
  font-family: 'Cinzel', serif;
  color: #0F0901;
  /* Code to keep footer fixed at bottom */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  height: 100%;
}

/* Code to keep footer fixed at bottom */
main {
  flex: 1 0 auto;
}

/* All margins, padding and borders removed from all elements */
* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Joins logo image and navbar seamlessly */
.container-fluid {
  line-height: 0;
}

/*** NAVIGATION BAR STYLES ***/

/* Removes shadow from bottom of navbar */
.nav-extended {
  box-shadow: none;
}

/* Background color of navbar set as gradient */
.nav-wrapper {
  background-image: linear-gradient(to top, rgba(250,250,242,1), rgba(160, 219, 155, 1), rgba(146, 214, 140, 1));
}

/* Centers nav tabs */
#nav-tabs {
  display: flex;
  justify-content: center;
}

/* Changes nav tab font color and pushes tabs further apart */
nav ul a {
  color: #0F0901;
  padding: 0 4rem;
}

/* Hover.css animation color change and transition speed change for nav tabs */
.hvr-bounce-to-bottom:before {
  background-image: linear-gradient(to top, rgba(174, 230, 169, 1), rgba(146, 214, 140, 1));
  -webkit-transition-duration: 1s;
  transition-duration: 1s;
}

/* Retains black text color when mouse is hovered over nav tabs */
.hvr-bounce-to-bottom:hover, .hvr-bounce-to-bottom:focus, .hvr-bounce-to-bottom:active {
  color: #0F0901;
}

/* Removed white lines between list items for seamlessness */
.dropdown-content li {
  min-height: 0;
}