{% extends "base.html" %}
{% block content %}

<!--Add Recipe Page Main Header-->
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h1 class="mt-3">{{ page_title }}</h1>
        </div>
    </div>
</div>

<!--Inspirational Text-->
<div class="container">
    <div class="row">
        <div class="col s12 text mt-3">
            <p class="center-align">Please fill out this form to the best of your ability so that you can share your
                tasty recipe with the world. We can't wait to try it!
            </p>
        </div>
    </div>
</div>

<!--Add Recipe Form-->
<div class="container-fluid">
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="">
            <div class="card-panel form-card z-depth-0">
                <div class="row">
                    <div class="input-field col s12">

                        <!--Category Name-->
                        <i class="fas fa-list-alt prefix register-icon"></i>
                        <select id="category_name" name="category_name" class="validate" required>
                            <option value="" disabled selected>Choose Category</option>
                            {% for category in categories %}
                            <option value="{{ category.category_name }}"
                                data-icon="https://res.cloudinary.com/web-slinger/image/upload/v1609772608/Milestone%203/chicken-breast_rfy6s3.jpg"
                                class="left circle">{{ category.category_name }}</option>
                            {% endfor %}
                        </select>

                        <!--Recipe Name-->
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="fas fa-pencil-alt prefix register-icon"></i>
                                <input id="recipe_name" name="recipe_name" type="text" minlength="5" maxlength="50"
                                    class="validate" required>
                                <label for="recipe_name">Recipe Name</label>
                            </div>
                        </div>

                        <!--Recipe Description-->
                        <div class="row">
                            <div class="input-field col s12">
                                <i class="fas fa-file-alt prefix register-icon"></i>
                                <textarea id="recipe_description" name="recipe_description" minlength="5"
                                    maxlength="150" class="materialize-textarea validate" required></textarea>
                                <label for="recipe_description">Recipe Description</label>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}