{% extends "base.html" %}
{% block content %}

<!--Add Recipe Page Main Header-->
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h1 class="mt-3">{{ page_title }}</h1>
        </div>
    </div>
</div>

<!--Inspirational Text-->
<div class="container">
    <div class="row">
        <div class="col s12 text mt-3 flow-text">
            <p class="center-align">Please fill out this form to the best of your ability so that you can share your
                tasty recipe with the world. We can't wait to try it!
            </p>
        </div>
    </div>
</div>

<!--Add Recipe Form-->
<div class="container-fluid">
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('addRecipe') }}">
            <div class="card-panel form-card z-depth-0">
                <div class="row">

                    <!--Category Name-->
                    <div class="input-field col s12">
                        <i class="fas fa-list-alt prefix form-icon"></i>
                        <select id="category_name" name="category_name" class="validate" required>
                            <option value="" disabled selected>Choose Category</option>
                            {% for category in categories %}
                            <option value="{{ category.category_name }}"
                                data-icon="https://res.cloudinary.com/web-slinger/image/upload/v1609772608/Milestone%203/{{ category.category_name }}.jpg"
                                class="left circle">{{ category.category_name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <!--Recipe Name-->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-pencil-alt prefix form-icon"></i>
                            <input id="recipe_name" name="recipe_name" type="text" minlength="5" maxlength="30"
                                class="validate" required>
                            <label for="recipe_name">Recipe Name</label>
                        </div>
                    </div>

                    <!--Recipe Description-->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-file-alt prefix form-icon"></i>
                            <textarea id="recipe_description" name="recipe_description" minlength="5" maxlength="70"
                                class="materialize-textarea validate" required></textarea>
                            <label for="recipe_description">Recipe Description</label>
                        </div>
                    </div>

                    <!--Prep Time-->
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <i class="fas fa-clock prefix form-icon"></i>
                            <input id="recipe_prep_mins" name="recipe_prep_mins" type="number" min="1" max="999"
                                class="validate" required>
                            <label for="recipe_prep_mins">Prep Time (mins)</label>
                        </div>

                        <!--Cook Time-->
                        <div class="input-field col s12 m6">
                            <i class="fas fa-clock prefix form-icon"></i>
                            <input id="recipe_cook_mins" name="recipe_cook_mins" type="number" min="1" max="999"
                                class="validate" required>
                            <label for="recipe_cook_mins">Cook Time (mins)</label>
                        </div>
                    </div>

                    <!--Calories-->
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <i class="fas fa-weight prefix form-icon"></i>
                            <input id="recipe_calories" name="recipe_calories" type="number" min="1" max="9999"
                                class="validate" required>
                            <label for="recipe_calories">Calories</label>
                        </div>

                        <!--Servings-->
                        <div class="input-field col s12 m6">
                            <i class="fas fa-users prefix form-icon"></i>
                            <input id="recipe_servings" name="recipe_servings" type="number" min="1" max="99"
                                class="validate" required>
                            <label for="recipe_servings">Servings</label>
                        </div>
                    </div>

                    <!--Difficulty-->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-user-graduate prefix form-icon"></i>
                            <select id="recipe_level" name="recipe_level" class="validate" required>
                                <option value="" disabled selected>Choose Difficulty</option>
                                {% for recipes in recipes %}
                                <option value="{{ recipes.recipe_level }}"
                                    data-icon="https://res.cloudinary.com/web-slinger/image/upload/v1609773885/Milestone%203/{{ recipes.recipe_level }}.png"
                                    class="left circle">{{ recipes.recipe_level }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <!--Recipe Ingredients-->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-file-alt prefix form-icon"></i>
                            <textarea id="recipe_ingredients" name="recipe_ingredients" minlength="3" maxlength="750"
                                class="materialize-textarea validate" required></textarea>
                            <label for="recipe_ingredients">Recipe Ingredients</label>
                        </div>
                    </div>

                    <!--Recipe Instructions-->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-file-alt prefix form-icon"></i>
                            <textarea id="recipe_instructions" name="recipe_instructions" minlength="3" maxlength="1500"
                                class="materialize-textarea validate" required></textarea>
                            <label for="recipe_instructions">Recipe Instructions</label>
                        </div>
                    </div>

                    <!--Recipe Image-->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-image prefix form-icon"></i>
                            <input id="recipe_image" name="recipe_image" type="text" minlength="5" maxlength="1000"
                                class="validate" required>
                            <label for="recipe_image">Paste Image URL</label>
                        </div>
                    </div>

                    <!--Add Recipe Button -->
                    <div class="row">
                        <button type="submit" class="col s12 btn-large btn-text mt-3">
                            <span class="submit-text">Add Recipe</span><i class="fas fa-share-square"></i>
                        </button>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}