{% extends "base.html" %}
{% block content %}

<!--Edit Recipe Page Main Header-->
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h1 class="mt-3">{{ page_title }}</h1>
        </div>
    </div>
</div>

<!--Inspirational Text-->
<div class="container">
    <div class="row">
        <div class="col s12 text mt-3 flow-text">
            <p class="center-align">Made a mistake? Improved your masterpiece? No problem! Feel free to fine-tune that
                beauty below, we're dying to get stuck in!
            </p>
        </div>
    </div>
</div>

<!--Edit Recipe Form-->
<div class="container-fluid">
    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('editRecipe', recipe_id=recipe._id) }}">
            <div class="card-panel form-card z-depth-0">
                <div class="row">

                    <!--Category Name-->
                    <div class="input-field col s12">
                        <i class="fas fa-list-alt prefix form-icon"></i>
                        <select id="category_name" name="category_name" class="validate" required>
                            <option value="" disabled>Choose Category</option>
                            {% for category in categories %}
                            {% if category.category_name == recipe.category_name %}
                            <option value="{{ category.category_name }}" selected
                                data-icon="https://res.cloudinary.com/web-slinger/image/upload/v1609772608/Milestone%203/{{ category.category_name }}.jpg"
                                class="left circle">{{ category.category_name }}</option>
                            {% else %}
                            <option value="{{ category.category_name }}"
                                data-icon="https://res.cloudinary.com/web-slinger/image/upload/v1609772608/Milestone%203/{{ category.category_name }}.jpg"
                                class="left circle">{{ category.category_name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <!--Recipe Name-->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-pencil-alt prefix form-icon"></i>
                            <input id="recipe_name" name="recipe_name" type="text" minlength="5" maxlength="30"
                                value="{{ recipe.recipe_name }}" class="validate" required>
                            <label for="recipe_name">Recipe Name</label>
                        </div>
                    </div>

                    <!--Recipe Description-->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-file-alt prefix form-icon"></i>
                            <textarea id="recipe_description" name="recipe_description" minlength="5" maxlength="70"
                                class="materialize-textarea validate"
                                required>{{ recipe.recipe_description }}</textarea>
                            <label for="recipe_description">Recipe Description</label>
                        </div>
                    </div>

                    <!--Prep Time-->
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <i class="fas fa-clock prefix form-icon"></i>
                            <input id="recipe_prep_mins" name="recipe_prep_mins" type="number" min="1" max="999"
                                value="{{ recipe.recipe_prep_mins }}" class="validate" required>
                            <label for="recipe_prep_mins">Prep Time (mins)</label>
                        </div>

                        <!--Cook Time-->
                        <div class="input-field col s12 m6">
                            <i class="fas fa-clock prefix form-icon"></i>
                            <input id="recipe_cook_mins" name="recipe_cook_mins" type="number" min="1" max="999"
                                value="{{ recipe.recipe_cook_mins }}" class="validate" required>
                            <label for="recipe_cook_mins">Cook Time (mins)</label>
                        </div>
                    </div>

                    <!--Calories-->
                    <div class="row">
                        <div class="input-field col s12 m6">
                            <i class="fas fa-weight prefix form-icon"></i>
                            <input id="recipe_calories" name="recipe_calories" type="number" min="1" max="9999"
                                value="{{ recipe.recipe_calories }}" class="validate" required>
                            <label for="recipe_calories">Calories</label>
                        </div>

                        <!--Servings-->
                        <div class="input-field col s12 m6">
                            <i class="fas fa-users prefix form-icon"></i>
                            <input id="recipe_servings" name="recipe_servings" type="number" min="1" max="99"
                                value="{{ recipe.recipe_servings }}" class="validate" required>
                            <label for="recipe_servings">Servings</label>
                        </div>
                    </div>

                    <!--Difficulty-->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-user-graduate prefix form-icon"></i>
                            <select id="recipe_level" name="recipe_level" class="validate" required>
                                <option value="" disabled>Choose Difficulty</option>
                                {% for difficulty in difficulties %}
                                {% if difficulty.recipe_level == recipe.recipe_level %}
                                <option value="{{ difficulty.recipe_level }}" selected
                                    data-icon="https://res.cloudinary.com/web-slinger/image/upload/v1609773885/Milestone%203/{{ difficulty.recipe_level }}.png"
                                    class="left circle">{{ difficulty.recipe_level }}</option>
                                {% else %}
                                <option value="{{ difficulty.recipe_level }}"
                                    data-icon="https://res.cloudinary.com/web-slinger/image/upload/v1609773885/Milestone%203/{{ difficulty.recipe_level }}.png"
                                    class="left circle">{{ difficulty.recipe_level }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <!--Recipe Ingredients-->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-file-alt prefix form-icon"></i>
                            <textarea id="recipe_ingredients" name="recipe_ingredients" minlength="3" maxlength="750"
                                class="materialize-textarea validate"
                                required>{{ recipe.recipe_ingredients }}</textarea>
                            <label for="recipe_ingredients">Recipe Ingredients</label>
                        </div>
                    </div>

                    <!--Recipe Instructions-->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-file-alt prefix form-icon"></i>
                            <textarea id="recipe_instructions" name="recipe_instructions" minlength="3" maxlength="1500"
                                class="materialize-textarea validate"
                                required>{{ recipe.recipe_instructions }}</textarea>
                            <label for="recipe_instructions">Recipe Instructions</label>
                        </div>
                    </div>

                    <!--Recipe Image-->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-image prefix form-icon"></i>
                            <input id="recipe_image" name="recipe_image" type="text" minlength="5" maxlength="1000"
                                value="{{ recipe.recipe_image }}" class="validate" required>
                            <label for="recipe_image">Paste Image URL</label>
                        </div>
                    </div>

                    <!--Form Buttons -->
                    <div class="row center-align">

                        <!--Edit Recipe Button-->
                        <div class="col s12 l6">
                            <button type="submit" class="btn-large btn-text mt-3 edit-btn">
                                <span class="submit-text">Edit Recipe</span><i class="fas fa-edit"></i>
                            </button>
                        </div>

                        <!--Cancel Editing Button-->
                        <div class="col s12 l6">

                            <a class="btn-large btn-text mt-3 edit-btn modal-trigger" href="#modal-c"><span
                                    class="submit-text">Cancel</span><i class="fas fa-times-circle"></i></a>

                            <!--Cancel Edit Modal-->
                            <div id="modal-c" class="modal">
                                <div class="modal-content">

                                    <h4>Warning!</h4>
                                    <p class="mt-3">Any changes made to your recipe will be lost. Are you sure you want
                                        to cancel?
                                    </p>
                                </div>

                                <div class="modal-footer">
                                    <a href="#!"
                                        class="modal-action modal-close btn-flat"><span>No</span></a>
                                    <a href="{{ url_for('myRecipes', username=session['user']) }}"
                                        class="modal-action modal-close btn-flat"><span>Yes</span></a>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}