{% extends "base.html" %}
{% block content %}

<!--About Page Main Heading-->
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h1 class="mt-3">Welcome to Friendly Digest</h1>
        </div>
    </div>
</div>

<!--Carousel of Images-->
<div class="container-fluid">
    <div class="carousel">
        <a class="carousel-item" href="#one!"><img class="z-depth-4"
                src="https://res.cloudinary.com/web-slinger/image/upload/v1606253227/Milestone%203/basil_zzoaqu.jpg" /></a>
        <a class="carousel-item" href="#two!"><img class="z-depth-4"
                src="https://res.cloudinary.com/web-slinger/image/upload/v1606253227/Milestone%203/tomatoes_olft2b.jpg" /></a>
        <a class="carousel-item" href="#three!"><img class="z-depth-4"
                src="https://res.cloudinary.com/web-slinger/image/upload/v1606253227/Milestone%203/fruit_mmnte2.jpg" /></a>
        <a class="carousel-item" href="#four!"><img class="z-depth-4"
                src="https://res.cloudinary.com/web-slinger/image/upload/v1606253227/Milestone%203/pasta_vnzdal.jpg" /></a>
        <a class="carousel-item" href="#five!"><img class="z-depth-4"
                src="https://res.cloudinary.com/web-slinger/image/upload/v1606253227/Milestone%203/lasagne_yw0xsx.jpg" /></a>
        <a class="carousel-item" href="#six!"><img class="z-depth-4"
                src="https://res.cloudinary.com/web-slinger/image/upload/v1606253227/Milestone%203/fish_nuxs0i.jpg" /></a>
        <a class="carousel-item" href="#seven!"><img class="z-depth-4"
                src="https://res.cloudinary.com/web-slinger/image/upload/v1606253227/Milestone%203/bread_umn7n2.jpg" /></a>
    </div>
</div>

<!--Informational Text about Friendly Digest-->
<div class="container">
    <div class="row">
        <div class="col s12 text">
            <p>Friendly Digest was originally designed to help people with chronic
                inflammatory bowel diseases such as Crohn's Disease & Colitis. Having any
                kind of inflammatory bowel disease can severely limit your dietary options
                and thus implicate health issues in later life. Friendly Digest is an
                aid to anyone who struggles to consume the correct foods, it offers an
                extensive array of recipes, each containing ingredients which are kind to
                the digestive system. Whether you suffer yourself, have a friend or family member
                who suffers, or whether you want to clean up your diet, we hope Friendly
                Digest can guide you to a cleaner, happier, pain-free lifestyle.
            </p>
        </div>
    </div>
</div>

<!--Information Section Heading-->
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h1 class="mt-3">What is an Inflammatory Bowel Disease?</h1>
        </div>
    </div>
</div>

<!--Container Holding Paragraph and Image-->
<div class="container">
    <div class="row text mt-3">

        <!--Informational Text about IBD-->
        <div class="col s12 xl6 mt-3">
            <p>Inflammatory bowel disease (IBD) describes
                a group of conditions, the two main forms of
                which are Crohn's disease and ulcerative colitis.
                Crohn's disease and ulcerative colitis are diseases
                that inflame the lining of the GI (gastrointestinal) tract
                and disrupt your body's ability to digest food,
                absorb nutrition, and eliminate waste in a healthy manner.
                These are lifelong diseases and people can experience
                acute periods of active symptoms (active disease or flare),
                and other times when their symptoms are absent (remission).</p>
        </div>

        <!--Image of IBD Awareness Ribbon-->
        <div class="col s12 xl6 mt-3">
            <img src="https://res.cloudinary.com/web-slinger/image/upload/v1607612523/Milestone%203/ibd-ribbon_eqzs5l.png"
                class="materialboxed responsive-img ribbon" data-caption="IBD Awareness Ribbon" />
        </div>

    </div>
</div>

<!--Information Section Heading-->
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h1 class="mt-3">What should I eat for a healthy gut?</h1>
        </div>
    </div>
</div>

<!--Informational Text about Bacteria-->
<div class="container">
    <div class="row text mt-3">
        <div class="col s12 mt-3">
            <p>Think bacteria are bad? Think again! Bacteria and other microbes (including fungi
                and viruses) are often thought of as sources of disease, but in fact many play an essential
                role in keeping you healthy. Your body contains trillions of microbes, most of which are
                beneficial. The most dense microbe population is in your gut, where they play a critical role
                in digestion, immune function and weight regulation. What you eat can quickly change
                your microbes, but are you eating the right foods to help your good gut bacteria?</p>
        </div>
    </div>
</div>

<!--Container Holding Image and Information Cards-->
<div class="container">
    <div class="row mt-3">

        <!--Image of Organic Salad-->
        <div class="col s12 xl6">
            <img src="https://res.cloudinary.com/web-slinger/image/upload/v1607014144/Milestone%203/organic-salad_k5j6ns.png"
                class="materialboxed responsive-img"
                data-caption="Eating organic is the healthiest option for your body and our planet." />
        </div>

        <!--Top Section of Information Card-->
        <div class="col s12 xl6 text mt-3">
            <div class="card transparent z-depth-0">
                <div class="card-content">
                    <p>Every person is different, but if you suffer from IBD
                        and want to improve your digestion, lose/gain weight,
                        or look after your general health, there are
                        some broad principles that may apply</p>
                </div>

                <!--Four Different Card Tabs-->
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width transparent z-depth-0">
                        <li class="tab"><a class="active" href="#tab1">Gluten</a></li>
                        <li class="tab"><a href="#tab2">Dairy</a></li>
                        <li class="tab"><a href="#tab3">Meat</a></li>
                        <li class="tab"><a href="#tab4">Fibre</a></li>
                    </ul>
                </div>

                <!--Information for Card Tabs-->
                <div class="card-content transparent z-depth-0">

                    <div id="tab1">One thing that IBD sufferers share is that they are most likely sensitive or
                        intolerant to gluten. Gluten sensitivity or intolerance is a condition that causes a person to
                        react after ingesting gluten, a protein found in wheat, barley and rye. Symptoms vary widely and
                        can include gastrointestinal problems, joint pain, fatigue and depression. </div>

                    <div id="tab2">Another similar ailment in which IBD sufferers share is their intolerance to lactose.
                        Lactose intolerance is a decreased ability to digest lactose, a sugar found in dairy products.
                        Those affected vary in the amount of lactose they can tolerate before symptoms develop. Symptoms
                        may include abdominal pain, bloating, diarrhoea, gas, and nausea.</div>

                    <div id="tab3">Meat can vary from person to person. Although there is scientific research proving
                        that IBD increases with red meat consumption. The findings come from a meta-analysis, where
                        researchers found a correlation between red meat consumption and inflammatory bowel disease. Red
                        meat was defined as “darker-colored meat from mammals, such as cows, sheep/lambs, pigs, and
                        horses”. Try to avoid red meat consumption when possible. </div>

                    <div id="tab4">A restricted or a low fibre diet may be required for people with IBD. A few of the
                        reasons when this diet might be used include when there is danger of a blockage in the intestine
                        (such as after surgery) or during a flare-up of IBD symptoms. A low fibre diet might need to be
                        followed. This can include using refined grain products in place of whole grain, avoid
                        veg/fruits with skins and avoid all whole nuts, seeds, and legumes.</div>

                </div>
            </div>
        </div>
    </div>
</div>

<!--Summary Heading-->
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h1 class="mt-3">Create, Upload & Share!</h1>
        </div>
    </div>
</div>

<!--Container Holding Paragraph and Image-->
<div class="container">
    <div class="row text mt-3">

        <!--Summarisation Paragraph-->
        <div class="col s12 xl6 mt-3">
            <p>Feel free to browse through Friendly
                Digest's extensive library of recipes, we
                hope that you manage to find something
                yummy to satisfy your needs! Create an
                account and upload your own yummy
                dishes to share with others, but remember,
                keep it clean! Check out some of our
                member's success stories below to get a
                good idea on how the correct diet can
                really change your life. </p>
        </div>

        <div class="col s12 xl6 mt-3">
            <img src="https://res.cloudinary.com/web-slinger/image/upload/v1606771219/Milestone%203/tuna_vbxts4.jpg"
                class="materialboxed responsive-img tuna z-depth-2"
                data-caption="Charred tuna steak with chunky salsa, roasted parsnip & tenderstem broccoli" />
        </div>

    </div>
</div>

<!--Success Stories Heading-->
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h1>Success Stories</h1>
        </div>
    </div>
</div>

<!--Container Holding Success Stories' Images and Modals-->
<div class="container">
    <div id="success-stories" class="row mt-3">

        <!-- Success Story 1: Image -->
        <div class="col s6 m3">
            <img src="https://res.cloudinary.com/web-slinger/image/upload/v1607686079/Milestone%203/success-woman-1_pougit.jpg"
                class="responsive-img success-img tooltipped modal-trigger hoverable z-depth-2" data-position="bottom"
                data-delay="50" data-tooltip="Click me!" href="#modal1" />
        </div>

        <!-- Success Story 1: Modal -->
        <div id="modal1" class="modal">
            <div class="modal-content">

                <h4>Jennifer Collins</h4>
                <p>I'm so happy I found Friendly Digest! Having dietary requirements is tough and sometimes it's
                    difficult to try new things. Friendly Digest's recipes have opened up many new doors for me! I don't
                    feel as bloated or sick. Happy Jenny! I especially love the turkey lasagne!!</p>
            </div>

            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close btn-flat">Close</a>
            </div>
        </div>

        <!-- Success Story 2: Image -->
        <div class="col s6 m3">
            <img src="https://res.cloudinary.com/web-slinger/image/upload/v1607686079/Milestone%203/success-man-1_cfawy5.jpg"
                class="responsive-img success-img tooltipped modal-trigger hoverable z-depth-2" data-position="bottom"
                data-delay="50" data-tooltip="Click me!" href="#modal2" />
        </div>

        <!-- Success Story 2: Modal -->
        <div id="modal2" class="modal">
            <div class="modal-content">

                <h4>Mark White</h4>
                <p>This website is the bomb! I swear my stomach hates me but some of these recipes don't cause me any
                    discomfort! Loving the gluten free turkey burgers! Nom nom!</p>
            </div>
            
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close btn-flat">Close</a>
            </div>
        </div>

    </div>
</div>
{% endblock %}