{% extends "base.html" %}
{% block content %}

<!--About Page Main Heading-->
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h1 class="mt-3">Welcome to Friendly Digest</h1>
        </div>
    </div>
</div>

<!--Carousel of Images-->
<div class="container-fluid">
    <div class="carousel">
        <a class="carousel-item" href="#one!"><img class="z-depth-4"
                src="https://res.cloudinary.com/web-slinger/image/upload/v1606253227/Milestone%203/basil_zzoaqu.jpg" /></a>
        <a class="carousel-item" href="#two!"><img class="z-depth-4"
                src="https://res.cloudinary.com/web-slinger/image/upload/v1606253227/Milestone%203/tomatoes_olft2b.jpg" /></a>
        <a class="carousel-item" href="#three!"><img class="z-depth-4"
                src="https://res.cloudinary.com/web-slinger/image/upload/v1606253227/Milestone%203/fruit_mmnte2.jpg" /></a>
        <a class="carousel-item" href="#four!"><img class="z-depth-4"
                src="https://res.cloudinary.com/web-slinger/image/upload/v1606253227/Milestone%203/pasta_vnzdal.jpg" /></a>
        <a class="carousel-item" href="#five!"><img class="z-depth-4"
                src="https://res.cloudinary.com/web-slinger/image/upload/v1606253227/Milestone%203/lasagne_yw0xsx.jpg" /></a>
        <a class="carousel-item" href="#six!"><img class="z-depth-4"
                src="https://res.cloudinary.com/web-slinger/image/upload/v1606253227/Milestone%203/fish_nuxs0i.jpg" /></a>
        <a class="carousel-item" href="#seven!"><img class="z-depth-4"
                src="https://res.cloudinary.com/web-slinger/image/upload/v1606253227/Milestone%203/bread_umn7n2.jpg" /></a>
    </div>
</div>

<!--Informational Text about Friendly Digest-->
<div class="container">
    <div class="row">
        <div class="col s12 text">
            <p>Friendly Digest was originally designed to help people with chronic
                inflammatory bowel diseases such as Crohn's Disease & Colitis. Having any
                kind of inflammatory bowel disease can severely limit your dietary options
                and thus implicate health issues in later life. Friendly Digest is an
                aid to anyone who struggles to consume the correct foods, it offers an
                extensive array of recipes, each containing ingredients which are kind to
                the digestive system. Whether you suffer yourself, have a friend or family member
                who suffers, or whether you want to clean up your diet, we hope Friendly
                Digest can guide you to a cleaner, happier, pain-free lifestyle.
            </p>
        </div>
    </div>
</div>

<!--Information Section Heading-->
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h1 class="mt-3">What is an Inflammatory Bowel Disease?</h1>
        </div>
    </div>
</div>

<!--Container Holding Paragraph and Image-->
<div class="container">
    <div class="row text mt-3">

        <!--Informational Text about IBD-->
        <div class="col s12 xl6 mt-3">
            <p>Inflammatory bowel disease (IBD) describes
                a group of conditions, the two main forms of
                which are Crohn's disease and ulcerative colitis.
                Crohn's disease and ulcerative colitis are diseases
                that inflame the lining of the GI (gastrointestinal) tract
                and disrupt your body's ability to digest food,
                absorb nutrition, and eliminate waste in a healthy manner.
                These are lifelong diseases and people can experience
                acute periods of active symptoms (active disease or flare),
                and other times when their symptoms are absent (remission).</p>
        </div>
    </div>
</div>
{% endblock %}