{% extends "base.html" %}
{% block content %}

{% block search_bar %}{% endblock %}

<!--Login Page Main Header-->
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h1 class="mt-3">{{ page_title }}</h1>
        </div>
    </div>
</div>

<!--Welcoming Text to User-->
<div class="container">
    <div class="row">
        <div class="col s12 text mt-3 flow-text">
            <p>Welcome back! Please fill out the form below and log in to view all of your tasty recipes. Don't already
                have an account? Click the Register button to create an account.
            </p>
        </div>
    </div>
</div>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
        <div class="card-panel form-card z-depth-0">

            <!--Username Field-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-cog prefix form-icon"></i>
                    <input id="username" name="username" type="text" minlength="5" maxlength="15"
                        pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="username">Username</label>
                </div>

                <!--Password Field-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-lock prefix form-icon"></i>
                        <input id="password" name="password" type="password" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>

                <!--Log In Button -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large btn-text">
                        <span class="submit-text">Log In</span>
                        <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>

            </div>
        </div>
    </form>
</div>

<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h6 class="mt-3">Don't have an account yet?</h6>
            <a href="{{ url_for('register') }}">
                <button type="button" class="btn link-btn">
                    <span>Register</span>
                </button>
            </a>
        </div>
    </div>
</div>
{% endblock %}