{% extends "base.html" %}
{% block content %}
    <h1>Meat Recipes</h1>

    {% for recipes in recipes %}
        {{ recipes.recipe_name }}<br>
        {{ recipes.category_name }}<br>
        {{ recipes.recipe_prep_mins }}<br>
        {{ recipes.recipe_cook_mins }}<br>
        {{ recipes.recipe_level }}<br>
        {{ recipes.recipe_calories }}<br>
        {{ recipes.recipe_servings }}<br>
        {{ recipes.author_name }}<br>
        {{ recipes.recipe_description }}<br>
        {{ recipes.recipe_ingredients }}<br>
        {{ recipes.recipe_instructions }}<br>
        {{ recipes.recipe_image }}<br>
        {{ recipes.favourite }}<br>
    {% endfor %}

{% endblock %}