{% extends "base.html" %}
{% block content %}

<!--Meat Page Main Heading-->
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h1 class="mt-3">{{ page_title }}</h1>
        </div>
    </div>
</div>

<!--Meat Page Welcoming Text-->
<div class="container">
    <div class="row text flow-text">
        <div class="col s12 mt-3">
            <p>Welcome to a page chock-full of delicious recipes containing meat which are sure to tickle your taste
                buds! You probably won't find any dishes containing red meat because red meat isn't very nice for our
                digestion. Dive in and remember that you can add your own delicious recipes to this list by creating an
                account and following our simple Add Recipe process. Enjoy!
            </p>
        </div>
    </div>
</div>

<!--Meat Page Recipe Card-->
<div class="container">
    <div class="row text mt-3">

        {% for recipe in recipes %}
        <div class="col s12 m6">
            <div class="card z-depth-3">

                <!--Recipe Image-->
                <div class="card-image">
                    <img class="responsive-image" src="{{ recipe.recipe_image }}">
                </div>

                <!--Recipe Name & Description-->
                <div class="card-content">
                    <span class="card-title">{{ recipe.recipe_name }}</span>
                    <p>{{ recipe.recipe_description }}</p>
                </div>

                <!--View Recipe Button-->
                <div class="card-action">
                    <a href="#">
                        <button type="button" class="btn card-btn right">
                            <span>Cook</span>
                        </button></a>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}