{% extends "base.html" %}
{% block content %}

{% block undo_button %}
{% endblock %}

<!--Recipe Name Heading-->
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h2>{{ recipe.recipe_name }}</h2>
        </div>
    </div>
</div>

<!--Recipe Image & Description-->
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <img class="responsive-img mt-3 burger" src="{{ recipe.recipe_image }}" alt="Recipe Picture">
            <p class="mt-3">{{ recipe.recipe_description }}</p>
        </div>
    </div>
</div>

<!--Collapsible Accordion Elements-->
<div class="container">
    <div class="row">

        <!--Left-hand Side Column-->
        <div class="col s6 l4 push-l2">
            <ul class="collapsible" data-collapsible="accordion">

                <li>
                    <!--Recipe Author Name-->
                    <div class="collapsible-header"><i class="fas fa-user form-icon"></i>Author</div>
                    <div class="collapsible-body"><span>{{ recipe.author_name }}</span></div>
                </li>

                <li>
                    <!--Recipe Preparation Minutes-->
                    <div class="collapsible-header"><i class="fas fa-clock form-icon"></i>Prep (Mins)</div>
                    <div class="collapsible-body"><span>{{ recipe.recipe_prep_mins }}</span></div>
                </li>

                <li>
                    <!--Recipe Total Servings-->
                    <div class="collapsible-header"><i class="fas fa-users form-icon"></i>Servings</div>
                    <div class="collapsible-body"><span>{{ recipe.recipe_servings }}</span></div>
                </li>
            </ul>
        </div>

        <!--Right-hand Side Column-->
        <div class="col s6 l4 push-l2">
            <ul class="collapsible" data-collapsible="accordion">

                <li>
                    <!--Recipe Difficulty-->
                    <div class="collapsible-header"><i class="fas fa-graduation-cap form-icon"></i>Level</div>
                    <div class="collapsible-body"><span>{{ recipe.recipe_level }}</span></div>
                </li>

                <li>
                    <!--Recipe Cooking Minutes-->
                    <div class="collapsible-header"><i class="fas fa-clock form-icon"></i>Cook (Mins)</div>
                    <div class="collapsible-body"><span>{{ recipe.recipe_cook_mins }}</span></div>
                </li>

                <li>
                    <!--Recipe Total Calories-->
                    <div class="collapsible-header"><i class="fas fa-weight prefix form-icon"></i>Calories</div>
                    <div class="collapsible-body"><span>{{ recipe.recipe_calories }}</span></div>
                </li>
            </ul>
        </div>

    </div>
</div>

<!--Recipe Ingredients Heading-->
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h2>Ingedients</h2>
        </div>
    </div>
</div>

<!--Recipe Ingredients List-->
<div class="container">
    <div class="row">
        <div class="col s12 m8 push-m4">
            <ul>
                {% for ingredient in recipe.recipe_ingredients.split(",") %}
                    <li class="d-flex"><i class="fas fa-circle form-icon mr-1"></i>{{ ingredient }}</li><br>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<!--Recipe Instructions Heading-->
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h2>Instructions</h2>
        </div>
    </div>
</div>

<!--Recipe Instructions-->
<div class="container">
    <div class="row">
        <div class="col s12">
            <ul>
                {% for instruction in recipe.recipe_instructions.split(".") %}
                    <li class="d-flex"><i class="fas fa-circle form-icon mr-1"></i>{{ instruction }}</li><br>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}