{% extends "base.html" %}
{% block content %}

{% block search_bar %}{% endblock %}

<!--Recipe Name Heading-->
<div class="container">
    <div class="row">
        <div class="col s12 center-align mt-3">
            <h1>{{ recipe.recipe_name }}</h1>
        </div>
    </div>
</div>

<!--Recipe Image & Description-->
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <img class="responsive-img mt-3 z-depth-4 user-img" src="{{ recipe.recipe_image }}" alt="Recipe image">
            <p class="center-align mt-3">{{ recipe.recipe_description }}</p>
        </div>
    </div>
</div>

<!--Collapsible Accordion Elements-->
<div class="container">
    <div class="row">

        <!--Left-hand Side Column-->
        <div class="col s6 l4 push-l2">
            <ul class="collapsible" data-collapsible="accordion">

                <li>
                    <!--Recipe Author Name-->
                    <div class="collapsible-header">
                        <i class="fas fa-user icon-color"></i>
                        <span>Author</span>
                    </div>

                    <div class="collapsible-body center-align">
                        <span>{{ recipe.author_name }}</span>
                    </div>
                </li>

                <li>
                    <!--Recipe Preparation Minutes-->
                    <div class="collapsible-header">
                        <i class="fas fa-clock icon-color"></i>
                        <span>Prep (Mins)</span>
                    </div>

                    <div class="collapsible-body center-align">
                        <span>{{ recipe.recipe_prep_mins }}</span>
                    </div>
                </li>

                <li>
                    <!--Recipe Total Servings-->
                    <div class="collapsible-header">
                        <i class="fas fa-users icon-color"></i>
                        <span>Servings</span>
                    </div>

                    <div class="collapsible-body center-align">
                        <span>{{ recipe.recipe_servings }}</span>
                    </div>
                </li>
            </ul>
        </div>

        <!--Right-hand Side Column-->
        <div class="col s6 l4 push-l2">
            <ul class="collapsible" data-collapsible="accordion">

                <li>
                    <!--Recipe Difficulty-->
                    <div class="collapsible-header">
                        <i class="fas fa-graduation-cap icon-color"></i>
                        <span>Level</span>
                    </div>

                    <div class="collapsible-body center-align">
                        <span>{{ recipe.recipe_level }}</span>
                    </div>
                </li>

                <li>
                    <!--Recipe Cooking Minutes-->
                    <div class="collapsible-header">
                        <i class="fas fa-clock icon-color"></i>
                        <span>Cook (Mins)</span>
                    </div>

                    <div class="collapsible-body center-align">
                        <span>{{ recipe.recipe_cook_mins }}</span>
                    </div>
                </li>

                <li>
                    <!--Recipe Total Calories-->
                    <div class="collapsible-header">
                        <i class="fas fa-weight prefix icon-color"></i>
                        <span>Calories</span>
                    </div>

                    <div class="collapsible-body center-align">
                        <span>{{ recipe.recipe_calories }}</span>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</div>

<!--Recipe Ingredients Heading-->
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h2>Ingedients</h2>
        </div>
    </div>
</div>

<!--Recipe Ingredients List-->
<div class="container">
    <div class="row">
        <div class="col s12 m6 l4 push-m4 push-l4">
            <ul>
                {% for ingredient in recipe.recipe_ingredients.split(",") %}
                    <li class="d-flex">
                        <i class="fas fa-circle icon-color mr-1pt5"></i>
                        {{ ingredient }}
                    </li><br>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<!--Recipe Instructions Heading-->
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h2>Instructions</h2>
        </div>
    </div>
</div>

<!--Recipe Instructions-->
<div class="container">
    <div class="row">
        <div class="col s12 m6 l4 push-m4 push-l4">
            <ul>
                {% for instruction in recipe.recipe_instructions.split(".") %}
                    {% if instruction %}
                        <li class="d-flex">
                            <i class="fas fa-circle icon-color mr-1pt5"></i>
                            {{ instruction }}
                        </li><br>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<!--Go Back Page Button-->
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h6 class="mt-3">Want to go back?</h6>
            <a href="#" onclick="history.go(-1)" class="btn card-btn">
                <i class="fas fa-arrow-circle-left"></i>
            </a>
        </div>
    </div>
</div>

{% endblock %}