{% extends "base.html" %}
{% block content %}

<!--Register Page Main Header-->
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h1 class="mt-3">{{ page_title }}</h1>
        </div>
    </div>
</div>

<!--Text to Encourage User to Register-->
<div class="container">
    <div class="row">
        <div class="col s12 text mt-3">
            <p>Welcome to Friendly Digest! We hope you've found some yummy recipes. Fancy uploading your own? Fill out
                the form below to register and get stuck in! We sure can't wait to taste your masterpiece!
            </p>
        </div>
    </div>
</div>

<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('register') }}">
        <div class="card-panel login-register-card z-depth-0">

            <!--Username Field-->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-plus prefix register-icon"></i>
                    <input id="username" name="username" type="text" minlength="5" maxlength="15"
                        pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                    <label for="username">Username</label>
                </div>

                <!--Password Field-->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-lock prefix register-icon"></i>
                        <input id="password" name="password" type="password" minlength="5" maxlength="15"
                            pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="password">Password</label>
                    </div>
                </div>

                <!--Register Button -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large register-text">
                        Register <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>

            </div>
        </div>
    </form>
</div>

<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h6 class="mt-3">Already have an account?</h6>
            <a href="{{ url_for('login') }}">
                <button type="button" class="btn link-btn">
                    <span>Login</span>
                </button>
            </a>
        </div>
    </div>
</div>

{% endblock %}